@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

.register-page,
.verify-page {
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.logo{
    margin-bottom: 36px;
}
.main-form {
    width: calc(100vw - (100vh * 594 / 900));
    padding: 35px 35px;
    max-height: 100vh;
}

.acc-Form{
    margin-top: 80px;
}

.center {
    display: flex;
    justify-content: center;
}
.align-center {
    display: flex;
    align-items: center;
}
.column {
    flex-direction: column;
}

.form-title {
}

.line-text-div {
    margin: 20px 0;
}
.text-div>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #545454;
    text-align: center;
}
.line-text {
    width: 60%;
    text-align: center;
    border-bottom: 1px solid #9a9a9a;
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: #9a9a9a;
}
.line-text span {
    background: #fff;
    padding: 0 10px;
}
.register-btn-container {
    align-items: center;
}
.twitter-register-btn {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    width: 35%;
    white-space: nowrap;
}

.twitter-register-btn:before {
    display: flex;
    justify-content: center;
    content: url(../../../assets/svgs/twitter-filled.svg);
    width: 15px;
    float: left;
    margin-left: 5%;
    margin-right: 10%;
}
.google-register-btn {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat';
    width: 35%;
    white-space: nowrap;
}

.google-register-btn:before {
    display: flex;
    justify-content: center;
    content: url(../../../assets/svgs/google-filled.svg);
    width: 15px;
    float: left;
    margin-left: 5%;
    margin-right: 10%;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: 70%;
}
.form-input {
    height: 40px;
    width: inherit;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 30px;
    margin-bottom: 0px;
}

.msg{
    font-size: 13px;
    color: red;
    height: 10px;
    width: inherit;
    margin-top:-8px;
    margin-bottom:14px;
}

.strength-bar{
    width: inherit;
    margin-bottom: 20px;
}

.icon-mail {
    padding-left: 30px;
    background: url('../../../assets/svgs/mail.svg') no-repeat left;
    background-size: 20px;
}
.icon-password {
    padding-left: 30px;
    background: url('../../../assets/svgs/lock.svg') no-repeat left;
    background-size: 20px;
}

.form-button {
    margin-top: 60px;
    font-size: 20px;
    padding: 5px 30px;
    align-self: center;
}
.side-banner-left {
    height: 100vh;
    width: calc(100vh * 594 / 900);
    background-image: url('../../../assets/images/sideBanner.jpg');
    color: #fff;
    padding: 30px;
    text-align: center;
    max-height: 100vh;
}

.side-banner-left .signup-prompt {
    max-width: 50%;
}

.side-banner-left .signup-prompt a,
.side-banner-left .signup-prompt Button {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 16px;
    padding: 6px 24px;
    color: white;
}
.verify-img{
    width: 25vw;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .twitter-register-btn {
        width: 60%;
    }
    .google-register-btn {
        width: 60%;
    }
    .logo{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .side-banner-right{
        display: none;
    }
    .register-page {
        justify-content: center;
    }
    .main-form {
        width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
} 
