@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

.login-page {
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.logo{
    margin-bottom: 36px;
}
.main-form {
    width: 60%;
    padding: 35px 35px;
    max-height: 100vh;
    background: #FDFDFD;
}
.logo {
    /* padding: 35px 35px; */
}
.center {
    display: flex;
    justify-content: center;
}
.align-center {
    display: flex;
    align-items: center;
}
.column {
    flex-direction: column;
}

.form-title {
}

.line-text-div {
    margin: 20px 0;
}
.line-text {
    width: 60%;
    text-align: center;
    border-bottom: 1px solid #9a9a9a;
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: #9a9a9a;
}
.line-text span {
    background: #fff;
    padding: 0 10px;
}
.login-btn-container {
    /* max-width: 70%; */
    align-items: center;
}
.twitter-login-btn {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    width: 35%;
    white-space: nowrap;
}

.twitter-login-btn:before {
    display: flex;
    justify-content: center;
    content: url(../../../../assets/svgs/twitter-filled.svg);
    width: 15px;
    float: left;
    margin-left: 5%;
    margin-right: 10%;
}
.google-login-btn {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat';
    width: 35%;
    white-space: nowrap;
}

.google-login-btn:before {
    display: flex;
    justify-content: center;
    content: url(../../../../assets/svgs/google-filled.svg);
    width: 15px;
    float: left;
    margin-left: 5%;
    margin-right: 10%;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: 70%;
}
.form-input {
    height: 40px;
    width: 50%;
    /* border: 1px solid #ccc; */
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 30px;
    margin-bottom: 10px;
}
.msg{
    font-size: 12px;
    color: red;
    height: 10px;
    width: inherit;
    margin-bottom:6px;
}
.icon-user {
    background: url('../../../../assets/svgs/user.svg') no-repeat left;
    background-size: 20px;
    padding-left: 30px;
    width: 100%;
}

.icon-password {
    padding-left: 30px;
    background: url('../../../../assets/svgs/lock.svg') no-repeat left;
    background-size: 20px;
}
.forgot-login-pass {
    display: flex;
    /* justify-content: flex-end; */
    text-decoration: none;
    width: max-content;
    align-self: flex-end;
    font-weight: 500;
}
.form-button {
    margin-top: 30px;
    font-size: 20px;
    padding: 5px 30px;
    align-self: center;
}
.side-banner-right {
    height: 100vh;
    width: 40%;
    background-image: url('../../../../assets/images/sideBanner.jpg');
    color: #fff;
    padding: 30px;
    text-align: center;
    max-height: 100vh;
}

.side-banner-right .signup-prompt {
    max-width: 50%;
}

.side-banner-right .signup-prompt a,
.side-banner-right .signup-prompt Button {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 16px;
    padding: 6px 24px;
    color: white;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .twitter-login-btn {
        width: 70%;
    }
    .google-login-btn {
        width: 70%;
    }
    .logo{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .main-form{
        padding: 1rem !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* .google-login-btn{
        width: 40;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
    .side-banner-right{
        display: none;
    }
    .login-page {
        justify-content: center;
    }
    .main-form {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
